.btn-warning {
    background-color: #ff990d !important;
    color: #fff !important;
}
.btn-secondary {
    background-color: #3194f0cb !important;
    color: #fff !important;
}
.titulo{
    font-size:x-large ;
    font-weight: bold;

}
