table{
    width: 100%;
}
.tablita{
    width: 90%;
    font-size: medium;
    margin-top: 1%;
    display: inline-table;
    text-align: center;
}
.hoverable:hover{
    background-color: rgba(129, 129, 129, 0.123);
}
.grid{
    display: block;
    text-align: center; 
}
.btnGuardar{
    justify-self: center;
    width: 20%;
}
.btncerrar{
    width: 4%;
    margin-left: 1%;
    align-self: center;
}