table{
    width: 100%;
}
.tablita{
    width: 90%;
    font-size: medium;
    margin-left: 4%;
}
.hoverable:hover{
    background-color: rgba(129, 129, 129, 0.123);
}
.grid{
    display: block;
    text-align: center; 
}
.btnGuardar{
    justify-self: center;
    width: 20%;
}